<h1>Lex D</h1>
<form action="/" method="post">
  <textarea type="text" name="input" rows=30 cols=120></textarea>
  <input type="submit">
</form>
<p>Created by Ryan Fauver for <a href="http://scripted.com">Scripted.com</a>.</p>
<p><a href="https://github.com/Scripted/lex_d">GitHub</a>
